bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/LunarMods/Migrations/
/LunarMods/wwwroot/content/
/DataProtection-keys/

appsettings.Development.json
appsettings.json
launchSettings.json
docker-compose.yaml

*.user
