{
  "Database": {
    "ConnectionString": "",
    "Version": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Discord": {
    "ClientID": "",
    "ClientSecret": ""
  }
}
